@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Cinzel&family=Roboto:wght@300;400;700&display=swap');


:root{

    --gray-soft:#e2dddd;
    --gray-medium:#59585a;
    --gray-dark:#404042b7;
    --black: #1b1a1a;
    --black-medium: #3a3737;
    --white: #ffffff;
    --orange:#c09a71;
    
    --Bad-Script:'Bad Script', cursive;
    --Cormorant :'Cormorant', serif;
    --Roboto    :'Roboto', sans-serif;

  
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}
body{
    line-height: 1.5;
    font-family: var(--Roboto);
    background-color: var(--black);
}
/* ==============================================
            globals
==============================================*/

h1 {
    font-size: 5rem;
    font-family: var(--Bad-Script);
    color: var(--white);
    letter-spacing: 6px;
}

h2 {
    font-size: 3.8rem;
    font-family: var(--Cormorant);
    color: var(--white);}

h2 i{
    font-size: 4rem;
    color: var(--orange);
}

h3 {
    font-size: 3rem;
    font-family: var(--Cormorant);
    color: var(--white);
}

h4 {
    font-size: 2.6rem;
    font-family: var(--Cormorant);
    color: var(--orange);
    
}

p {
    font-size: 1.6rem;
   color: var(--white);
}

a{
    text-decoration: none;
    
}

img{
    width: 100%;
}
/* ==============================================
            Reutilizables
==============================================*/

.botton{
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    font-size: 1.6rem;
    padding: 10px 30px;
    color: var(--white);
}

.container{
    width: 95%;
    margin: 0 auto;
}


/* ==============================================
            Header
==============================================*/


.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--white);
    padding: 16px 24px;
    color: var(--white);
}

.menu  h3{
    font-family: var(--Bad-Script);
    color: var(--black-medium);
    letter-spacing: 3px;
}


/* menu lateral */
.menu .button-menu-open{
    border: none;
    color: var(--black-medium);
    font-size: 3.5rem;
    background-color: transparent;
    cursor: pointer;
}

 .button-menu-close{
    border: none;
    color: var(--white);
    font-size: 3.5rem;
    padding: 12px;
    background-color: transparent;
    cursor: pointer;
}

/* nav */

.header-nav-container{
    background-color: var(--orange);
    color: var(--white);
}
 .nav-container{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.nav-container a{
    width: 200px; 
    text-align: center;
    font-size: 2.2rem; 
    padding: 16px 0 8px;
    border-bottom: 1px solid var(--white);
    color: var(--white);
}
/* cierre menu lateral */


.container-hero{
    background-image: url(../assets/header\ .jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center  ;
    height: 100vh;
 
    display: grid;
    grid-template: repeat(6, 1fr) / repeat(4, 1fr);
    
}
.contenedor-tittler {
    grid-column: 1 / 6; 
    grid-row: 3 / 5; 
    
    text-align: center; 
    color: var(--white);
    line-height: 1.5;
}


.contenedor-tittler p {
    font-size: 2rem;
    color: white;
}

.contenedor-tittler a {
    
    border: 1px solid var(--gray-medium);
    transition: all .7s ease;
}

.contenedor-tittler a:hover {
    background-color: var(--orange);
    border: none;
}

/* ==============================================
            about
==============================================*/
.container-aboult{
    background-image: var(--degradation);
}

.section-aboult-tittle{
    text-align: center;
    text-transform: uppercase;
    padding-top: 32px;
    
}
.container-aboult-icons{
    margin-top: 20px;
}
.container-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 28px;
}

.container-icons span{
    color: var(--orange);
    font-size: 5.5rem;
    
}

.container-icons p{
    margin-top: 20px;
    text-align: center;
   
}
.container-my {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    
}
.container-my img{
    max-width: 400px;
    max-height: 400px;
    margin: 20px auto;
}

.container-my h4{
    text-align: center;
    margin-top: 20px;
   
}

.container-my p{
    margin-top: 20px;
    
}

.container-personalidad h4{
    padding: 16px 0 8px 0;
    
}
.container-personalidad p{
   margin: 0;
   padding-bottom: 16px ;
}
/* ==============================================
            Proyects
==============================================*/
.container-section-proyect{ 
    padding: 28px 0;
}
.container-section-proyect h2{
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
}
.container-img-proyect img{
    height: 250px;
}
.proyects{
    margin: 20px 0;
    text-align: center;
    max-width: 800px;
    background-color: var(--gray-soft);
    transition: all .3s ease-in-out;
    overflow-x: hidden;
     
}

.proyects:hover{
    transform: scale(1.06);
}

.proyects h4{
    
    text-transform: uppercase;
    font-family: var(--Roboto);
    color: black;
    margin-top: 20px;
}

.proyects a{
    display: inline-block;
    color: black;
    font-size: 2rem;
    font-weight: 700;
    font-family: var(--Roboto);
    text-transform: capitalize;
    margin: 20px 0;
    padding: 10px 50px;
    border: 2px solid var(--orange);
    cursor: pointer;
    transition: all .5s ease;
}

.proyects a:hover{
    background-color: var(--orange);
    color: white;
    border: none;
}

/* ==============================================
                 Contact
==============================================*/

.container-contact h2{
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0;
}
.container-contact-inf img{
height: 500px;
}
.container-contact p span{
    font-weight: 700;
    color: var(--gray-medium);
}

.container-contact p {
   padding: 20px 0;
}

.contact form {
    max-width: 600px;
    margin-top: 20px;

    display: flex;
    flex-wrap: wrap;
    
}

.contact form label{
    width: 100%;
    margin-top: 10px;
    padding: 8px 0;
    font-size: 1.4rem;
    color: white;
}

.contact form input{
    width: 100%;
    padding: 8px 0;
    border-radius: 10px;
    border: none;
    background-color: var(--gray-soft);
    box-shadow: var(--s);
}

.contact form textarea{
    width: 100%;
    padding: 8px 0;
    border-radius: 10px;
    border: none;
    
}

.contact  .botton-submit input {
    display: block;
    padding: 12px 40px;
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 700;
    border: none;
    color: var(--white);
    background-color: var(--orange);

}

/* ==============================================
            Footer
==============================================*/
.container-footer{
    text-align: center;
    margin-top: 0;
   
    background-color: var(--white);
}

.nav-footer {
    display: inline-block;  
    padding: 10px 0;
}

.nav-footer a {
    
    font-size: 2.5rem;
    color: var(--black-medium);
    padding-right: 26px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.nav-footer a:hover {
    
    color: var(--orange);
}

.nav-footer a:last-of-type{
    
    padding-right: 0;
    
}

.container-footer p {
    padding-bottom: 10px;
    color: var(--black-medium);
}
  
/* ==============================================
            Media globales
==============================================*/
@media (min-width :820px) {
    
    h2{
        font-size: 3rem;
    }

    h3{
        font-size: 2.2rem;
    }

    h4{
        font-size: 2rem;
    }
    p{
        font-size: 1.4rem;
    }

/* ==============================================
            Media HEADER
==============================================*/

    .container-aboult-icons{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 50px 0;
    }

    .container-my{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-self: stretch;
        padding: 50px 0;        
    }

    
    .container-personalidad{
        text-align: center;
    }

/* ==============================================
            Media PROYECT
==============================================*/

    .container-proyect{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 16px;
    }

    .proyects{
        border-bottom: none;
    }

/* ==============================================
            Media CONATCT
==============================================*/

    .contact{
        max-width: 600px;
        margin: 0 auto;
    }

}
